* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background: darkblue;
    border-radius: 130px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.85, 0.170, 1) 3s;
}

.hover {
    transform: scale(2);
}

